@{
    ViewData["Title"] = "Talep";
}
@* @{
    Layout = "~/Views/Shared/_LayoutS.cshtml";
} *@
@Html.Partial("_SASidebar")
@model IEnumerable<dynamic> 

<div class="container d-flex">
    <!-- Sol taraf: Profesyonel Filtre Çubuğu -->
    <div class="col-md-3" style="border: 2px solid #212D3D; border-radius: 8px; padding: 15px; margin-right: 30px; ">
        <h4 class="mb-4"><i class="fas fa-filter"></i> Filtreler</h4>
        <div class="filter-group mb-3">
            <label for="searchInput" class="mb-2"><i class="fas fa-search"></i> Ara:</label>
            <input type="text" id="searchInput" class="form-control" placeholder="Ürün ara...">
        </div>
        <div class="filter-group mb-3">

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="kategoriMakine" value="Makine ve Takım Ekipmanları">
                <label class="form-check-label" for="kategoriMakine">Makine ve Takım Ekipmanları</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="kategoriHammadde" value="Hammadde ve Üretim Malzemeleri">
                <label class="form-check-label" for="kategoriHammadde">Hammadde ve Üretim Malzemeleri</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="kategoriAmbalaj" value="Ambalaj ve Sarf Malzemeleri">
                <label class="form-check-label" for="kategoriAmbalaj">Ambalaj ve Sarf Malzemeleri</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="kategoriKoruyucu" value="Koruyucu ve İzolasyon Malzemeleri">
                <label class="form-check-label" for="kategoriKoruyucu">Koruyucu ve İzolasyon Malzemeleri</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="kategoriMontaj" value="Montaj ve Tespit Malzemeleri">
                <label class="form-check-label" for="kategoriMontaj">Montaj ve Tespit Malzemeleri</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="kategoriBuro" value="Büro ve İdari Malzemeler">
                <label class="form-check-label" for="kategoriBuro">Büro ve İdari Malzemeler</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="kategoriTemizlik" value="Temizlik ve Bakım Ürünleri">
                <label class="form-check-label" for="kategoriTemizlik">Temizlik ve Bakım Ürünleri</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="kategoriOzel" value="Özel ve Teknik Malzemeler">
                <label class="form-check-label" for="kategoriOzel">Özel ve Teknik Malzemeler</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="kategoriTahta" value="Tahta Parçalar">
                <label class="form-check-label" for="kategoriTahta">Tahta Parçalar</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="kategoriDiger" value="Diğer">
                <label class="form-check-label" for="kategoriDiger">Diğer</label>
            </div>

        </div>


        <button id="applyFilters" class="btn mt-3" style="background-color: #212d3d; color: #ecf0f1; border: 1px solid #34495e; border-radius: 8px; padding: 10px 20px; display: flex; align-items: center; gap: 8px;">
            <i class="fas fa-filter"></i> Filtreleri Uygula
        </button>
    </div>
  
    <!-- Sağ taraf: Ürün listesi -->

    <div class="col-md-9">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 style="color: #95a5a6;"><i class="fas fa-box"></i> Stoktaki Ürünler</h4>
            <form method="post" asp-action="YeniStokIstek" class="mb-0">
                <button type="submit" class="btn btn-warning btn-sm" style="color: #ffffff; background-color: #f39c12; border: none;">
                    <i class="fas fa-cart-arrow-down"></i> Talep İstek
                </button>
            </form>
        </div>
        <table class="table table-bordered table-sm" style="background-color: #34495e; color: #ecf0f1;">
            <thead style="background-color: #2c3e50; color: #bdc3c7;">
                <tr>
                    <th><i class="fas fa-box"></i> Ürün Adı</th>
                    <th><i class="fas fa-layer-group"></i> Kalan Adet</th>
                    <th><i class="fas fa-tags"></i> Özellikler</th>
                    <th><i class="fas fa-cogs"></i> İşlem</th>
                </tr>
            </thead>
            <tbody id="productList">
                @foreach (var product in Model)
                {
                    <tr data-category="@product.Kategori">
                        <td>@product.UrunAdi</td>
                        <td>@product.StokMiktari</td>
                        <td>@product.Kategori</td>
                        <td>
                            <a asp-action="TalepEkle" asp-route-urunId="@product.UrunID" class="btn btn-success btn-sm">
                                <i class="fas fa-cart-plus"></i> Depodan Al
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>




<script>
        document.getElementById('applyFilters').addEventListener('click', function () {
            const searchQuery = document.getElementById('searchInput').value.toLowerCase();
        const selectedCategories = Array.from(document.querySelectorAll('input[type="checkbox"]:checked')).map(checkbox => checkbox.value.toLowerCase());
                    const productList = document.querySelectorAll('#productList tr');

            productList.forEach(row => {
                const productName = row.cells[0].textContent.toLowerCase();
                const productCategory = row.getAttribute('data-category').toLowerCase(); // Ensure category is lowercase for comparison

                // Check if the product name matches the search query
                const matchesSearch = productName.includes(searchQuery);

                // Check if the product category matches any of the selected categories
                const matchesCategory = selectedCategories.length === 0 || selectedCategories.includes(productCategory);

                if (matchesSearch && matchesCategory) {
                    row.style.display = ''; // Show row if both conditions are met
                } else {
                    row.style.display = 'none'; // Hide row if conditions are not met
                }
            });
        });

</script>
  
